@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans|Ubuntu&display=swap');

.modal {
    padding-top: 15%;
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: 30%;
    margin: 35%;
    margin-top: 3%;
}

/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #FFF;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 1px 1px 10px #000;
    outline: 0;
    
}

/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
    margin-left: 10%;
    margin-right: 10%;
}
.modal-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2vw;
    color: #000;
    opacity: 0.5;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
    padding: 15px;
}

.modal-body>a {
    margin-left: 11%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1vw;
    color: #000;
    text-decoration: none;
    transition: 0.1s linear;
}

.modal-body>a:hover {
    color: #FF0000;
    margin-left: 13%;
}


.modal1 {
    padding-top: 15%;
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
}
/* при отображении модального окно */
.modal1:target {
    opacity: 1; /* делаем окно видимым */
	pointer-events: auto; /* элемент видим для событий мыши */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog1 {
    position: relative;
    width: 70%;
    margin: 15%;
    margin-top: 3%;
}

/* свойства для блока, содержащего контент модального окна */ 
.modal-content1 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #FFF;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 1px 1px 10px #000;
    outline: 0;
    
}

/* свойства для заголовка модального окна */
.modal-header1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
    margin-left: 10%;
    margin-right: 10%;
}
.modal-title1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2vw;
    color: #000;
    opacity: 0.5;
}
/* свойства для кнопки "Закрыть" */
.close1 {
    float: right;
    font-family: sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close1:focus, .close1:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body1 {
    position: relative;
    padding: 15px;
}

.modal-body1>a {
    margin-left: 11%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1vw;
    color: #000;
    text-decoration: none;
    transition: 0.1s linear;
}

.modal-body1>a:hover {
    color: #FF0000;
    margin-left: 13%;
}

