@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans|Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 2000px;
}

header {
    width: 100%;
}

header>div#head {
    width: 100%;
    position: relative;
    z-index: 9999;
}

header>div#head>img {
    width: 100%;
    box-shadow: 1px 1px 10px #000;
}

header>div#head>span#title {
    position: absolute;
    left: 39%;
    top: 35%;
    color: #FFF;
    font-family: 'Luckiest Guy', cursive;
    font-size: 3.4vw;
}

header>div#head>a#menu {
    text-decoration: none;
    position: absolute;
    left: 3%;
    top: 38%;
    color: #FFF;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2vw;
}

main {
    width: 100%;
}

main>div#box {
    width: 80%;
    margin-left: 8%;
    margin-top: 10%;
    background-image: linear-gradient(to right, rgba(100, 6, 6, 0.65) 0%, rgb(0, 0, 0, 0.65) 22%, rgb(0, 0, 0, 0.65) 78%, rgb(100, 6, 6, 0.65) 100%);
    box-shadow: 1px 1px 10px #000;
    border-radius: 5px;
    padding: 2%;
    float: left;
}

main>div#box>div#prod1>span#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2vw;
    color: #FFF;
    margin-left: 3%;
}

main>div#box>div#prod1 {
    width: 30%;
    margin-top: 2%;
    float: left;
}

main>div#box>div#prod1>div#gold {
    width: 60%;
    display: inline-block;
    margin: 3%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30% 4% 30% 4%;
    position: relative;
    border-radius: 3px;
    text-align: center;
}

main>div#box>div#prod1>div#gold>img {
    width: 100%;
    -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
}

main>div#box>div#prod1>div#gold>img#img1 {
    width: 30%;
    -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
}

main>div#box>div#prod1>div#gold>img#img2 {
    margin-top: 15%;
    width: 80%;
    -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
}

main>div#box>div#prod1>div#gold>img#img3 {
    margin-top: 15%;
    width: 90%;
    -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
}

main>div#box>div#prod1>div#gold>img#img4 {
    margin-top: 15%;
    width: 50%;
    -webkit-filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
    filter: drop-shadow(1px 1px 3px rgb(255, 255, 255));
}

main>div#box>div#prod1>div#gold>span#name21 {
    position: absolute;
    left: 21%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name20 {
    position: absolute;
    left: 38%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name19 {
    position: absolute;
    left: 35%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name18 {
    position: absolute;
    left: 40%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name17 {
    position: absolute;
    left: 33%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name16 {
    position: absolute;
    left: 26%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name15 {
    position: absolute;
    left: 35%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name14 {
    position: absolute;
    left: 27%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name13 {
    position: absolute;
    left: 20%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name12 {
    position: absolute;
    left: 33%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name11 {
    position: absolute;
    left: 20%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name10 {
    position: absolute;
    left: 34%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name9 {
    position: absolute;
    left: 36%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name8 {
    position: absolute;
    left: 30%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name7 {
    position: absolute;
    left: 32%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}


main>div#box>div#prod1>div#gold>span#name6 {
    position: absolute;
    left: 30%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name5 {
    position: absolute;
    left: 19%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name4 {
    position: absolute;
    left: 37%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name3 {
    position: absolute;
    left: 34%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name2 {
    position: absolute;
    left: 20%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}

main>div#box>div#prod1>div#gold>span#name1 {
    position: absolute;
    left: 38%;
    top: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    color: rgb(238, 255, 0);
    font-weight: bold;
}


main>div#box>div#buy>span#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2vw;
    color: #FFF;
    margin-left: 3%;
}

main>div#box>div#buy {
    width: 70%;
    margin-top: 2%;
    float: right;
    text-align: center;
}

main>div#box>div#buy>input {
    width: 60%;
    margin-top: 3%;
    padding: 2%;
    border: none;
    border-radius: 3px;
    color: #343434;
    background-color: #FFF;
    box-shadow: 1px 1px 10px #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3vw;
    margin-left: 6%;
}

main>div#box>div#buy>button {
    width: 30%;
    margin-top: 3%;
    padding: 2%;
    border: none;
    border-radius: 3px;
    color: #343434;
    background-color: #FFF;
    box-shadow: 1px 1px 10px #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3vw;
    transition: 0.2s linear;
    margin-left: 3%;
}

main>div#box>div#buy>button:hover {
    border-radius: 10px;
}

main>div#box>div#title {
    text-align: center;
    margin-top: 2%;
}

main>div#box>div#title>span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6vw;
    color: #FFF;
}

main>div#box>div#htb {
    text-align: center;
    margin-top: 2%;
}

main>div#box>div#htb>span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4vw;
    color: rgb(216, 214, 214);
}